{% if blocksummary %}
<div class="accordion-item">
  <h2 class="accordion-header" id="headingBlocks">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBlocks" aria-expanded="false" aria-controls="collapseBlocks">
	    Wikimedia Blocks ({{ blocksummary }})
    </button>
  </h2>
  <div id="collapseBlocks" class="accordion-collapse collapse" aria-labelledby="headingBlocks">
    <div class="accordion-body">
      <div class="accordion">
         {% if globalblocks %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingBlocksGlobal">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBlocksGlobal" aria-expanded="false" aria-controls="collapseBlocksGlobal">
              Global
            </button>
          </h2>
          <div id="collapseBlocksGlobal" class="accordion-collapse collapse" aria-labelledby="headingBlocksGlobal">
            <div class="accordion-body">
              {% for entry in globalblocks %}
	      <p>{{ entry.address }} <a href="https://meta.wikimedia.org/wiki/Special:Log?type=gblblock&page={{ entry.address | urlencode}}">blocked</a> ({{entry.reason}}) by {{ entry.by }} until {{ entry.expiry }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      {% for site, blockdata in blocks.items %}
        {% if blockdata.1 %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingBlocks{{ forloop.counter }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBlocks{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseBlocks{{ forloop.counter }}">
             {{ blockdata.0.dbname }}
            </button>
          </h2>
          <div id="collapseBlocks{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingBlocks{{ forloop.counter }}">
            <div class="accordion-body">
	      <ul>
              {% for entry in blockdata.1 %}
	      <li>{{ entry.user }} <a href="{{ blockdata.0.url }}/w/index.php?title=Special:Log&page={{ entry.user }}&type=block">blocked</a> ({{ entry.reason }}) on {{ entry.timestamp }} by {{ entry.by }} until {{ entry.expiry }}. anononly: {{ entry.anononly }}, account creation blocked: {{ entry.nocreate }}</a></li>
	      {% endfor %}
	      </ul>
            </div>
          </div>
        </div>
	      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="accordion-item">
  <h2 class="accordion-header" id="headingBlocks">
    <button class="accordion-button collapsed" aria-expanded="false">
	    Wikimedia Blocks (none)
    </button>
  </h2>
</div>
{% endif %}
