<div class="accordion-item">
  <h2 class="accordion-header" id="headingIpcheck">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIpcheck" aria-expanded="false" aria-controls="collapseWhois">
      IPCheck ({{ipcheck.summary}})
    </button>
  </h2>
  <div id="collapseIpcheck" class="accordion-collapse collapse" aria-labelledby="headingIpcheck">
    <div class="accordion-body">
      <p>webhost: {{ ipcheck.webhost.result.webhost }}</p>
      <p>proxycheck: {{ ipcheck.proxycheck.result.proxy }}</p>
      {% if ipcheck.ipHub.result.block %}
      <p>iphub: non-residential ISP ({{ ipcheck.ipHub.result.isp }})</p>
      {% else %}
      <p>iphub: residential ISP ({{ ipcheck.ipHub.result.isp }})</p>
      {% endif %}
      <p>TOR node: {{ ipcheck.tor.result.tornode }}</p>
      <p>ComputeHosts: {{ ipcheck.computeHosts.result.cloud }}</p>
      <p>StopForumSpam: {{ ipcheck.stopforumspam.result.appears }}</p>
      <p>Spamcop: {{ ipcheck.spamcop.result.listed }}</p>
    </div>
  </div>
</div>
