{% extends 'bullseye/bootstrap.html' %}

{% load bootstrap5 %}
{% load static %}
<link rel="shortcut icon" type="image/svg" href="{% static 'bullseye/logo.svg' %}"/>

{% block bootstrap5_content %}
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <span class="navbar-brand mx-2">
        <img src="{% static 'bullseye/logo.svg' %}" alt="bullseye logo" width="50" height="50"/>
      </span>
      <span class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarToolsDropdown">
	  <a class="dropdown-item" href="{% url "landing_page" %}">Bullseye</a>
	  <a class="dropdown-item" href="{% url "dartboard" %}">Dartboard</a>
        </div>
      </span>
      <form class="d-flex" onsubmit="return doSearchNav()">
        <div class="form-group">
          <input type="text" class="form-control" id="inputIPNav" placeholder="IP address">
        </div>
        <button id="submitBtnNav" type="submit" class="btn btn-primary ms-2">Search</button>
      </form>
      <span class="nav-item dropdown ms-auto mx-2">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {% if user.is_authenticated %}
          Logged in as {{ user.username }}
          {% else %}
          Not logged in
          {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if user.is_authenticated %}
	  <a class="dropdown-item" href="{% url "logout" %}?next={{ request.path }}">Log out</a>
	  <a class="dropdown-item" href="{% url "update_wiki_prefs" %}">Set preferences</a>
          {% else %}
	  <a class="dropdown-item" href="{% url "social:begin" "mediawiki"%}?next={{ request.path }}">Log in</a>
          {% endif %}
          {% if user.is_staff %}
	  <a class="dropdown-item" href="{% url "admin:index" %}">Admin</a>
          {% endif %}
        </div>
      </span>
    </nav>
    <h1>{% block title %}(no title){% endblock %}</h1>

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    {% block content %}(no content){% endblock %}
  </div>
<div class="container my-5">
    <div class="text-center text-secondary bg-white">
      Bullseye by [[<a href="https://en.wikipedia.org/wiki/User:GeneralNotability">User:GeneralNotability</a>]]
    </div>
    <div class="text-center text-secondary bg-white">
      Logo by [[<a href="https://en.wikipedia.org/wiki/User:Giraffer">User:Giraffer</a>]]
    </div>
    <div class="text-center text-secondary bg-white">
      <a href="https://github.com/GeneralNotability/bullseye">Source</a>
    </div>
    <!-- Copyright -->
  </footer>

  <script>
    function doSearchNav() {
      const ip = document.getElementById("inputIPNav").value;
      window.location = '/ip/' + ip;
      return false;
    }
  </script>
{% endblock %}
