{% block bootstrap5_extra_head %}
<link rel="stylesheet" href="{{ cdnjs }}/ajax/libs/leaflet/1.7.1/leaflet.css" />
{% endblock %}

<script src="{{ cdnjs }}/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<div id='map' width="100%" style='height:400px'></div>
<script>
    function popup(feature, layer) {
        if (feature.properties && feature.properties.description) {
            layer.bindPopup(feature.properties.description);
        }
    }
    let ipLocGeoJSON = {{ geoips|safe }};
    let server = '{{ mapserver }}';
    let style = 'osm-intl';
    let map = L.map('map');
    if (ipLocGeoJSON.features.length > 0) {
        let bounds = L.latLngBounds(ipLocGeoJSON.features.map((c) => {
            return [c.geometry.coordinates[1], c.geometry.coordinates[0]]
        }));
        map.fitBounds(bounds, {maxZoom: 8});
    } else {
        // Fallback if there's no geolocation
        map.setView([0, 0], 1);
    }
    L.tileLayer(server + '/' + style + '/{z}/{x}/{y}{r}.png').addTo(map);
    L.control.scale().addTo(map);
    map.whenReady(() => {
      L.geoJson(ipLocGeoJSON, {onEachFeature: popup}).addTo(map);
    });
</script>
